@inherits LayoutComponentBase
@inject IJSRuntime Js


<!-- TODO:  https://stackoverflow.com/questions/63715146/change-layout-in-blazor-page-based-on-url -->
<script src="scripts.js"></script>
<div class="page">
    <div class="sidebar">
        <NavMenu LoggedInAs="@LoggedInAs" Role="@Role"/>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="#">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


@code {
    private string? loggedInAs;
    private string? role;
    
    public string? LoggedInAs { get; set; }
    public string? Role { get; set; }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            LoggedInAs = await Js.InvokeAsync<string>("getCookie", "access_token");
            Role = await Js.InvokeAsync<string>("getCookie", "access_role");
            StateHasChanged();
        }
    }
}