@inherits LayoutComponentBase
@inject IJSRuntime Js


<!-- TODO:  https://stackoverflow.com/questions/63715146/change-layout-in-blazor-page-based-on-url -->
<script src="scripts.js"></script>
<div class="page">
    <div class="sidebar">
        <NavMenu Role="@role"/>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="#">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


@code {
    private string role = "";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            role = await Js.InvokeAsync<string>("getCookie", "access_role");
            StateHasChanged();
        }
    }
}