@page "/events/{id}"

@if (currentEvent == null)
{
    <p>Event not found!</p>
}
else
{
    <div class="container">
        <div class="card" style="width:auto;">
            <div class="card-header">
                <h3>Edit @currentEvent.Name</h3>
            </div>
            <br/>
            <div class="card-body">
                <h3>Name</h3>
                <input type="text" @bind="currentEvent.Name" class="form-control" autofocus required/>
                <br/>
                <h3>Location</h3>
                <input type="text" @bind="currentEvent.Location" class="form-control" required/>
                <br/>
                <h3>Number of races</h3>
                <input type="number" @bind="currentEvent.NumRaces" class="form-control" min="1" max="50" placeholder="8" required>
            <br/>
            <button
                type="button"
                class="btn btn-secondary"
                @onclick="BackButton">
                Back to events
            </button>
            <button
                type="button"
                class="btn btn-primary"
                @onclick="UpdateEvent">
                Update Event
            </button>
            <button
                type="button"
                class="btn btn-danger"
                @onclick="DeleteEvent">
                Delete Event
            </button>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public string Id { get; set; }
    
    private Event? currentEvent;

    protected override void OnParametersSet()
    {
        int i = Int32.Parse(Id);
        currentEvent = Event.GetEventById(i);
    }
    
    [Inject] NavigationManager Navigation { get; set; }
    
    public void UpdateEvent()
    {
        // load all events
        List<Event> allEvents = Event.LoadEvents();
        
        // find the saved version
        int index = Event.GetIndexOfEvent(currentEvent.Id);

        // replace values with new ones
        if (index == -1)
        {
            Navigation.NavigateTo($"/events");
        }
        else
        {
            allEvents[index].Name = currentEvent.Name;
            allEvents[index].Location = currentEvent.Location;
            allEvents[index].NumRaces = currentEvent.NumRaces;

            // save the whole list of events again
            Event.SaveEvents(allEvents);
            // redirect
            Navigation.NavigateTo($"/events/{currentEvent.Id}/races");
        }
    }

    private void BackButton()
    {
        Navigation.NavigateTo($"/events");
    }

    private void DeleteEvent()
    {
        var allEvents = Event.LoadEvents();
        var filteredEvents = allEvents.Where(e => e.Id != currentEvent.Id).ToList();
        Event.SaveEvents(filteredEvents);
        
        Navigation.NavigateTo($"/events");
    }

    }
