@page "/events/{id}"

<h3>Edit Event </h3>

<br>
<br>

@if (currentEvent != null)
{
    <p>@currentEvent.Name</p>
}
else
{
    <p>Event not found or invalid ID.</p>
}

@code {
    
    [Parameter]
    public string Id { get; set; }
    
    private Event? currentEvent;

    protected override void OnParametersSet()
    {
        int i = Int32.Parse(Id);
        Console.WriteLine(i);
        currentEvent = Event.GetEventById(i);
    }
}