@page "/events"

<PageTitle>Events</PageTitle>

<h1>Events index</h1>
<br>
@if (eventsList?.Count > 0)
{
    // TODO: add collapsable components
    // https://getbootstrap.com/docs/4.0/components/collapse/#accordion-example
    // https://learn.microsoft.com/en-us/aspnet/core/blazor/components/virtualization?view=aspnetcore-8.0
    <div class="container">
        @foreach (var evnt in eventsList)
        {
            <div class="card" style="width:auto;">
                <div class="card-header">
                    <h5 class="card-title">@evnt</h5>
                </div>
                <div class="card-body">
                    <Races RaceList="@evnt.Races"></Races>
                    <a href="events/@evnt.Id" class="btn btn-primary">Edit</a>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>No events</p>
}

@code {
    private readonly List<Event> eventsList = Event.LoadEvents();

    private void UpdateEvents()
    {
        Console.WriteLine("Saving!");
        Event.SaveEvents(eventsList);
    }
}