@page "/events"
@inject IJSRuntime Js

<PageTitle>Events</PageTitle>

<h1>Events index</h1>
<br>
@if (eventsList?.Count > 0)
{
    // TODO: add collapsable components
    // https://getbootstrap.com/docs/4.0/components/collapse/#accordion-example
    <div class="container">
        @foreach (var evnt in eventsList)
        {
            <div class="card" style="width:auto;">
                <div class="card-header">
                    <h5 class="card-title">@evnt</h5>
                </div>
                <div class="card-body">
                    <Races RaceList="@evnt.Races"></Races>
                    <a href="events/@evnt.Id" class="btn btn-primary d-none">Edit</a>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>No events</p>
}

@code {
    private readonly List<Event> eventsList = Event.LoadEvents();

    protected override void OnAfterRender(bool firstRender)
    {
        MakeEditable();
    }
        
    private async Task MakeEditable()
    {
        var role = await Js.InvokeAsync<string>("getCookie", "access_role");
        Console.WriteLine($"ROLE: {role}");
         if (role == "Manager")
         {
             await Js.InvokeVoidAsync("ShowEditButtons");
         }
    }
}