@page "/events"

<PageTitle>Events</PageTitle>

<h1>Events index</h1>
<br>
@if (eventsList?.Count > 0)
{
    // TODO: add collapsable components
    // https://getbootstrap.com/docs/4.0/components/collapse/#accordion-example
    // https://learn.microsoft.com/en-us/aspnet/core/blazor/components/virtualization?view=aspnetcore-8.0
    <div class="container">
        @foreach (var evnt in eventsList)
        {
            <div class="event">
                <p>@evnt</p>
                <Races RaceList="@evnt.Races"></Races>
                <p><a href="events/@evnt.Id">Edit</a></p>
                <br/>
            </div>
            <br/>
        }
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <button @onclick="UpdateEvents">Save</button>
            </div>
            <div class="col">
                <button @onclick="LogEvents">Log</button>
            </div>
        </div>
    </div>
}
else
{
    <p>No events</p>
}

@code {
    private List<Event> eventsList = Event.LoadEvents();   // Event.TestEvents();
    private void UpdateEvents()
    {
        Console.WriteLine("Saving!");
        Event.SaveEvents(eventsList);
    }
    
    private void LogEvents()
    {
        Event.LoadEvents();
    }
    
}