@page "/events"

<PageTitle>Events</PageTitle>

<h1>Events index</h1>
<br>
@if (eventsList?.Count > 0)
{
    // TODO: add collapsable components
    // https://getbootstrap.com/docs/4.0/components/collapse/#accordion-example
    <div class="container">
        @foreach (var evnt in eventsList)
        {
            <div class="event">
                <p>@evnt</p>
                <Races RaceList="@evnt.Races"></Races>
            </div>
        }
    </div>
}
else
{
    <p>No events</p>
}

@code {
    private List<Event> eventsList = Event.TestEvents();
}