@page "/events"

<PageTitle>Events</PageTitle>

<h1>Events index</h1>
<br>
@if (eventsList.Count > 0)
{
    <div class="container">
        @foreach (var evnt in eventsList)
        {
            <div class="event">
                <ḥ3>@evnt</ḥ3>
                <Races RaceList="@evnt.Races"></Races>
            </div>
        } 
    </div>
}

@code {
    private List<Event> eventsList = Event.TestEvents();
}