@page "/events"

<PageTitle>Events</PageTitle>

<h1>Events index</h1>
<br>
@if (eventsList.Count > 0)
{
    <ul>
        @foreach (var evnt in eventsList)
        {
            <li>@evnt</li>
        } 
    </ul>
}

@code {
    private List<Event> eventsList = Event.TestEvents();
}