@page "/"

<PageTitle>Dundalk Derby</PageTitle>

<h1>Welcome to the Horse racing app</h1>

@code {

    // TODO: if user if logged in show their account info and a logout button

    // Else login page

}