
<div class="card" style="width:auto;">
    <div class="card-header">
        <h5>@Title</h5>
    </div>
    <br/>
    <div class="card-body">
        <div class="list-group list-group-flush">
            @if (HorseList != null && HorseList.Count > 0)
            {
                @foreach (var h in HorseList)
                {
                    <div class="list-group-item">
                        <h5>Name</h5>
                        <p><span class="font-weight-bold">@h.Name</span></p>
                        @if (AddToRaceButtons)
                        {
                        <button
                            type="button"
                            class="btn btn-primary btn-sm"
                            @onclick="() => AddToRace(RaceId, h.Id)">
                            Add To Race
                        </button>
                        }
                    </div>
                   
                }
            }
        </div>
    </div>
</div>

@code {
    [Parameter] 
    public List<Horse>? HorseList { get; set; }
    [Parameter] 
    public string? Title { get; set; } = "Horses";
    [Parameter] 
    public bool AddToRaceButtons { get; set; } = false;
    [Parameter] 
    public string RaceId { get; set; } = "0";
    
    [Inject] NavigationManager Navigation { get; set; }

    public void AddToRace(string raceId, int horseId)
    {
        var raceNum = Int32.Parse(raceId);
        if (raceNum > 0)
        {
            Race.AddHorse(raceNum, horseId);
        }
        Navigation.NavigateTo($"/events", true);
    }
}