<div class="card" style="width:auto;">
    <div class="card-header">
        <h4>Horse List</h4>
    </div>
    <br/>
    <div class="card-body">
      @foreach (var h in horseList)
      {
          <div>
              <h5>Name</h5>
              <p>@h.Name</p>
          </div>
      }
    </div>
</div>

@code {

    [Parameter]
    public List<Horse> horseList { get; set; }

}