  
<div class="card" style="width:auto;">
    <div class="card-header">
        <h4>Horse List</h4>
    </div>
    <br/>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            @foreach (var h in horseList)
            {
                <li class="list-group-item">
                    <h5>Name</h5>
                    <p>@h.Name</p>
                </li>
            }
        </ul>
    </div>
</div>


@code {
    [Parameter]
    public List<Horse> horseList { get; set; }
}