@page "/events/new"

<PageTitle>New Event</PageTitle>

<h1>New Event page</h1>

<br/>

<div class="container">
    <h3>Name</h3>
    <input type="text" @bind="eventName" class="form-control" autofocus required />
    
    <h3>Location</h3>
    <input type="text" @bind="eventLocation" class="form-control" required />
    
    <div class="">
        <h3>Number of races</h3>
        <input type="number" @bind="eventNumRaces" class="form-control" min="1" max="50" placeholder="8" required>
    </div>
    <br/>
    <br/>
    <button
        type="button"
        class="btn btn-primary"
        @onclick="AddEvent">
        Add Event
    </button>
</div>

@code {

    private string eventName;
    private string eventLocation;
    private int eventNumRaces;
    
    private string _now = DateTime.Now.ToString("s");

    private List<Event> allEvents = Event.LoadEvents();
    [Inject] NavigationManager Navigation { get; set; }

    private void AddEvent()
    {
        Event.AddNew(new Event(eventName, eventLocation, eventNumRaces));
        
        allEvents = Event.LoadEvents();
        LogCount();
        // redirect to index view
        Navigation.NavigateTo("/events");
    }

    private void LogCount()
    {
        Console.WriteLine(allEvents.Count);
    }
}