@page "/events/new"

<PageTitle>New Event</PageTitle>

<h1>New Event page</h1>

<br/>

<div class="container">
    <h3>Name</h3>
    <input type="text" @bind="eventName" class="form-control" autofocus required />
    
    <h3>Location</h3>
    <input type="text" @bind="eventLocation" class="form-control" required />
    
    <div class="">
        <h3>Number of races</h3>
        <input type="number" @bind="eventNumRaces" class="form-control" min="1" max="50" placeholder="8" required>
    </div>
    <br/>
    <br/>
    <button
        type="button"
        class="btn btn-primary"
        @onclick="AddEvent">
        Add Event
    </button>
    <button
        type="button"
        class="btn btn-secondary"
        @onclick="LogCount">
        Log  Count
    </button>
    
</div>

@code {

    private string eventName;
    private string eventLocation;
    private int eventNumRaces;
    
    private string _now = DateTime.Now.ToString("s");

    private List<Event> allEvents = Event.LoadEvents();

    private void AddEvent()
    {
        var racesToInclude = new List<Race>();
        Race race;
        for (int i = 0; i < eventNumRaces; i++)
        {
            race = new Race($"race{i + 1}", DateTime.Now);
            racesToInclude.Add(race);
        }
        Event.AddNew(new Event(eventName, eventLocation, racesToInclude));
        allEvents = Event.LoadEvents();
    }

    private void LogCount()
    {
        Console.WriteLine(allEvents.Count);
    }
}