@page "/owners"
@inject IJSRuntime Js


<PageTitle>Owners</PageTitle>

<h1>Owners page</h1>
<br>
@if (ownerList != null && ownerList?.Count > 0)
{
// TODO: add collapsable components
// https://getbootstrap.com/docs/4.0/components/collapse/#accordion-example
    <div class="container">
        @foreach (var owner in ownerList)
        {
            <div class="card" style="width:auto;">
                <div class="card-body">
                    <h5 class="card-title">@owner.Name</h5>
                    <a href="owners/@owner.Id" class="btn btn-primary">Edit</a>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>No users</p>
}

@code {
    private readonly List<User> ownerList = Owner.LoadOwners();
    
}