<div class="list-group list-group-flush">
    @if (this.RaceList != null && this.RaceList.Count > 0)
    {
        @foreach (var r in RaceList)
        {
            <div class="list-group-item">
                <p>
                    <a href="race/@r.Id">
                        @r.Name
                    </a>
                    at @r.StartTime.ToShortTimeString() on @r.StartTime.ToShortDateString()
                </p>
            </div>
        }
    }
</div>

@code{
    [Parameter] public List<Race>? RaceList { get; set; }
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    