<ul>
    @if (this.races != null && this.races.Count > 0)
    {
        @foreach (var r in races)
        {
            <a href="races/{@r.Id.ToString().Trim()}">
                <li>@r</li>
            </a>
           
        }
    }
</ul>

@code{
    [Parameter] public List<Race>? RaceList { get; set; }

    private List<Race>? races;

    protected override void OnParametersSet()
    {
        races = RaceList;
        foreach (var hr in RaceList)
        {
            Console.WriteLine(hr);
        }
    }

}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    