@page "/users"

<PageTitle>Users</PageTitle>

<h1>Users index</h1>
<br>
@if (userList?.Count > 0)
{
// TODO: add collapsable components
// https://getbootstrap.com/docs/4.0/components/collapse/#accordion-example
// https://learn.microsoft.com/en-us/aspnet/core/blazor/components/virtualization?view=aspnetcore-8.0
    <div class="container">
        @foreach (var usr in userList)
        {
            <div class="card" style="width:auto;">
                <div class="card-body">
                    <h5 class="card-title">@usr</h5>
                    <a href="users/@usr.Id" class="btn btn-primary">Edit</a>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>No users</p>
}

@code {

    private readonly List<User> userList = User.LoadUsers();


}